[main]


[depends]


[custom render order]


[inline scripts]


[groups]

openlayers =
    vendor/openlayers/ol.js
    vendor/openlayers/ol.css

leaflet =
    vendor/leaflet/leaflet.js
    vendor/leaflet/leaflet.css

chroma =
    vendor/chroma/chroma.js

embedded_datashine = 
    javascript/modules/embedded_datashine.js
    css/embedded_datashine.css

geojson_preview = 
    javascript/modules/geojson-preview.js
    css/geojson-preview.css

hyphenator =
    vendor/hyphenator/hyphenator.js
    javascript/modules/typesetting.js

iframe-resizer = 
    vendor/iframe-resizer/iframeResizer.js
    javascript/modules/iframe-resizing.js

mixitup = 
    vendor/mixitup/jquery.mixitup.js
    javascript/modules/media-grid.js
