[main]


[depends]


[custom render order]


[inline scripts]


[groups]

openlayers =
    vendor/openlayers/ol.js
    vendor/openlayers/ol.css

leaflet =
    vendor/leaflet/leaflet.js
    vendor/leaflet/leaflet.css

chroma =
    vendor/chroma/chroma.js

embedded_datashine = 
    javascript/modules/embedded_datashine.js
    css/embedded_datashine.css

geojson_preview = 
    javascript/modules/geojson-preview.js
    css/geojson-preview.css

