<div role="main">
  {% snippet "home/snippets/embedded_datashine.html" %}
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="span5">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
        {% block welcome %}
          {% snippet 'home/snippets/welcome.html' %}
        {% endblock %}
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
        {% block twitterbox %}
          {% snippet 'home/snippets/twitterbox.html' %}
        {% endblock %}
      </div>
      <div class="span7">
        {% block popular %}
          {% snippet 'home/snippets/controlled_datasets.html' %}
        {% endblock %}
        {% block latest %}
          {% snippet 'home/snippets/latest_datasets.html' %}
        {% endblock %}
        <div class="row">
          <div class="span4">
            {% block def_service %}
              {% snippet 'home/snippets/def_service.html' %}
            {% endblock %}
          </div>
          <div class="span3">
            {% block def_topic %}
              {% snippet 'home/snippets/def_topic.html' %}
            {% endblock %}
          </div>
        </div>
        {% block def_geography %}
          {% snippet 'home/snippets/def_geography.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
