<div role="main">
  {% snippet "home/snippets/embedded_datashine.html" %}
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <div class="container">
    <div class="row row2">
      <div class="span5 col2" style="margin-top: 20px">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="span5 col1" style="margin-top: 20px">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
      <div class="span5 col1" style="margin-top: 20px">
        <div class="box">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/esrc_cdrc" data-widget-id="628134366913429504">Tweets by @esrc_cdrc</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>
