<div role="main">
  {% snippet "home/snippets/embedded_datashine.html" %}
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <div class="container">
    <div class="row row2">
      <div class="span5 col2" style="margin-top: 20px">
        {% block welcome %}
          {% snippet 'home/snippets/welcome.html' %}
        {% endblock %}
      </div>
      <div class="span5 col2" style="margin-top: 20px">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="span5 col1" style="margin-top: 20px">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
      <div class="span5 col1" style="margin-top: 20px">
        {% block twitterbox %}
          {% snippet 'home/snippets/twitterbox.html' %}
        {% endblock %}
      </div>
      <div class="span5 col1" style="margin-top: 20px">
        {% block def_topic %}
          {% snippet 'home/snippets/def_topic.html' %}
        {% endblock %}
      </div>
      <div class="span5 col1" style="margin-top: 20px">
        {% block def_service %}
          {% snippet 'home/snippets/def_service.html' %}
        {% endblock %}
      </div>
      <div class="span5 col1" style="margin-top: 20px">
        {% block def_geography %}
          {% snippet 'home/snippets/def_geography.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
