{% set group_controller='ckanext.cdrc.controllers.accesslevel:AccessLevelController'}
<section class="group-list module module-narrow module-shallow">
  <header class="module-heading">
    {% set url=h.url_for(controller=group_controller, action='read', id=accesslevel.name) %}
    {% set truncate=truncate or 0 %}
    <a class="module-image" href="{{ url }}">
      <img src="{{ accesslevel.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ accesslevel.name }}" />
    </a>
    <h3 class="media-heading"><a href={{ url }}>{{ accesslevel.title or accesslevel.name }}</a></h3>
    {% if accesslevel.description %}
      {% if truncate == 0 %}
        <p>{{ h.markdown_extract(accesslevel.description)|urlize }}</p>
      {% else %}
        <p>{{ h.markdown_extract(accesslevel.description, truncate)|urlize }}</p>
      {% endif %}
    {% endif %}
  </header>
  {% set list_class = "unstyled dataset-list" %}
  {% set item_class = "dataset-item module-content" %}
  {% snippet 'snippets/package_list.html', packages=accesslevel.packages, list_class=list_class, item_class=item_class, truncate=120 %}
</section>
