{% ckan_extends %}

{% block heading_private %}
  {% if package.private %}
    <span class="dataset-private label label-inverse">
      <i class="icon-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
{% endblock %}
{% block heading_title %}
  {{ super() }}
  {% for grp in package.groups if grp.type == 'accesslevel' or grp.name in ['rejected', 'disclosure-control']%}
    {# <a href="{{ h.url_for(controller='ckanext.cdrc.controllers.accesslevel:AccessLevelController', action='about', id=grp.name) }}" class="label label-{{ grp.name }}" data-accesslevel="{{ grp.name }}">{{ grp.title }}</a> #}
    <span class="label label-{{ grp.name }}" data-accesslevel="{{ grp.name }}">{{ grp.title }}</span>
  {% endfor %}

{% endblock %}
{% block heading_meta %}
  {{ super() }}
  {% if h.is_cdrc_admin() %}
  <span
    class="dataset-timestamp date pull-right"
    title="Created: {{ h.render_datetime(package.metadata_created, with_hours=True) }}
Modified: {{ h.render_datetime(package.metadata_modified, with_hours=True) }}">Created {{ h.time_ago_from_timestamp(package.metadata_created) }}</span>
  {% endif %}
{% endblock %}
