{% ckan_extends %}
{% set created=h.render_datetime(package.metadata_created, with_hours=True)%}
{% set created_rel=h.time_ago_from_timestamp(package.metadata_created)%}
{% set modified=h.render_datetime(package.metadata_modified, with_hours=True)%}
{% set modified_rel=h.time_ago_from_timestamp(package.metadata_modified)%}

{% block heading_private %}
  {% if package.private %}
    <span class="dataset-private label label-inverse">
      <i class="icon-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
{% endblock %}
{% block heading_title %}
  {{ super() }}
  {% for grp in package.groups if grp.type == 'accesslevel' or grp.name in ['rejected', 'disclosure-control']%}
    {# <a href="{{ h.url_for(controller='ckanext.cdrc.controllers.accesslevel:AccessLevelController', action='about', id=grp.name) }}" class="label label-{{ grp.name }}" data-accesslevel="{{ grp.name }}">{{ grp.title }}</a> #}
    <span class="label label-{{ grp.name }}" data-accesslevel="{{ grp.name }}">{{ grp.title }}</span>
  {% endfor %}

{% endblock %}
{% block heading_meta %}
  {{ super() }}
  {% if h.is_cdrc_admin() %}
  <span
    class="dataset-timestamp date pull-right"
    title="Created: {{ created }}
    Modified: {{ modified }}">{% if 'modified' in h.full_current_url() %}Modified {{ modified_rel }} {% else %} Created {{ created_rel }} {% endif %}</span>
  {% endif %}
{% endblock %}
