{#
Renders a media item for a product. This should be used in a list.

product - A product dict.

Example:

    <ul class="media-grid">
      {% for product in products %}
        {% snippet "product/snippets/customized_group_item.html", product=product %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(product.type ~ '_read', action='read', id=product.name) %}
{% block item %}
<li class="media-item">
  {% block item_inner %}
  {% block image %}
  <center>
    <img src="{{ product.image_display_url or h.url_for_static('/images/product_default_logo.png') }}" alt="{{ product.name }}" class="media-image">
  </center>
  {% endblock %}
  {% block title %}
  <center>
    <h3 class="media-heading">{{ product.display_name }}</h3>
  </center>
  {% endblock %}
  {% block description %}
  {% endblock %}
  {% block datasets %}
  <center>
    {% if product.package_count %}
      <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', product.package_count).format(num=product.package_count) }}</strong>
    {% else %}
      <span class="count">{{ _('0 Datasets') }}</span>
    {% endif %}
  </center>
  {% endblock %}
  {% block link %}
  <a href="{{ url }}" title="{{ _('View {product_name}').format(product_name=product.display_name) }}" class="media-view">
    <span>{{ _('View {product_name}').format(product_name=product.display_name) }}</span>
  </a>
  {% endblock %}
  {% endblock %}
</li>
{% endblock %}
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
