{% extends "page.html" %}

{% block subtitle %}{{ _(subtitle) }}{% endblock %}

{% set page_controller='ckanext.cdrc.controllers.page:CDRCPageController' %}

{% block breadcrumb_content %}
  <li>{% link_for _(pkg_tag.title()), controller=page_controller, action='index', pkg_tag=pkg_tag %}</li>
  <li class="active">{% link_for subtitle, controller=page_controller, action='page_list', pkg_id=pkg_id, pkg_tag=pkg_tag %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
{% endblock %}

{% block primary %}
  <div style="padding: 15px">
    <a href="{% url_for controller='package', action='read', id=pkg_id %}" target="_blank"><h1>{{ subtitle }} <span class="icon-play-circle"></span></h1></a>
    <div> {{ h.render_markdown(description) }} </div>
    <hr/>
    <ul class="resource-list">
      {% for p in page_list %}
        {% snippet 'page/snippets/page_item.html', p=p, pkg_tag=pkg_tag %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block secondary %}
{% endblock %}
