{% extends "page.html" %}


{% block subtitle %}{{ _('Topic') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Blog'), controller='ckanext.cdrc.controllers.blog:CDRCBlogController', action='blog_proxy' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
{% endblock %}

{% block primary %}
  <iframe id="blog-cdrc-data" src="{{ h.url('/', locale='default', qualified=true) }}_blog/" frameborder="0" scrolling="no"
    style="width: 100%; height: 2000px; border-radius:5px;">
  </iframe>
{% endblock %}

{% block secondary %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'cdrc/iframe-resizer' %}
{% endblock %}
