@media (min-width: 768px) {
  .hero {
    background: url("/images/background-tile.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.masthead {
  background-color: #cccccc;
}

