<div class="module-content box description">
<h3>CDRC Services</h3>
<p>
This website provides a searchable catalogue of our data <a
href="/product">products</a>. Where data are flagged as <span
class="label" data-accesslevel="open">Open</span> you can
register and download these today. For <span class="label"
data-accesslevel="safeguarded">Safeguarded</span> and <span
class="label" data-accesslevel="secure">Secure</span> data, these
require further registration and approval. More details can be found on
our main website <a href="http://digitronix-dev.co.uk/dev/cdrc/data-services/">here</a>.
</p>
</div>
