{% set promoted_text = '''
## How to Use

Our data [products](/product) are organized into a range of [topics](/topic) concerning the characteristics, constraints and outcomes of consumption.

Many of our data products are available for a number of geographic extents. You can download datasets for [national](/national),
[regional](/regional) and [local authority districts](/lad); and you can also view some of our data through our [maps interface](https://maps.cdrc.ac.uk).

You may also use the search box to find datasets by keywords and refine the results using filters on the left pane on the search result page.
''' %}
{% set promoted_img = '/images/London_LOAC.png' %}
{% set promoted_url = 'http://maps.cdrc.ac.uk' %}

<div class="box description" style="margin-bottom: 20px">
  <div class="inner notes">
    <header>
      {# <h2>A Focus On ...</h2> #}
      {# <hr> #}
    </header>
    {{ h.render_markdown(promoted_text) }}

    {% block home_image %}
      {# <section class="featured media-overlay hidden-phone"> #}
      {#   <!-- <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2> --> #}
      {#   {% block home_image_content %} #}
      {#     <a class="media-image" href="{{ promoted_url }}"> #}
      {#       <img src="{{ h.url_for_static(promoted_img) }}" alt="Placeholder" width="420" height="220" /> #}
      {#     </a> #}
      {#   {% endblock %} #}
      {# </section> #}
    {% endblock %}
  </div>
</div>
