{% set stats = h.get_action('get_site_statistics') %}

<div class="box stats" style="margin-bottom: 20px">
  <div class="inner">
    <h3>{{ _('{0} statistics').format(g.site_title) }}</h3>
    <ul>
      <li>
        <a href="/topic">
          <b>{{ stats.topic_count.html | safe }}</b>
          {{ _('topic') if stats.topic_count.number == 1 else _('topics') }}
        </a>
      </li>
      <li>
        <a href="/product">
          <b>{{ stats.product_count.html | safe }}</b>
          {{ _('product') if stats.product_count.number == 1 else _('products') }}
        </a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='package', action='search') }}">
          <b>{{ stats.resource_size.html | safe }}</b>
          data
        </a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='package', action='search') }}">
          <b>{{ stats.downloads.html | safe }}</b>
          downloaded
        </a>
      </li>
    </ul>
  </div>
</div>
