{% extends "page.html" %}

{% set group_controller='ckanext.cdrc.controllers.product:ProductController' %}

{% block subtitle %}{{ _('Product') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Product'), controller=group_controller, action='index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('product_create') %}
    {% link_for _('Add Product'), controller=group_controller, action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Product') }}{% endblock %}</h1>
  {% block products_search_form %}
    {% snippet 'snippets/search_form.html', form_id='product-search-form', type='product', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search products...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
  {% endblock %}
  {% block product_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "product/snippets/customized_group_list.html", products=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no products for this site') }}.
        {% if h.check_access('product_create') %}
          {% link_for _('How about creating one?'), controller=group_controller, action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "product/snippets/helper.html" %}
{% endblock %}
