{% extends "page.html" %}

{% set lad = c.group_dict %}
{% set typename = h.get_group_type_name(group_type) %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _(typename['long']) }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _(typename['long']), named_route=group_type + '_index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for lad.display_name|truncate(35), named_route=group_type + '_read', id=lad.name %}</li>
    <li class="active">{% link_for _('Manage'), named_route=group_type + '_edit', id=lad.name %}</li>
  {% endblock %}
{% endblock %}

{% block content_action %}
  {% if lad and h.check_access(group_type + '_update', {'id': lad.id}) %}
    {% link_for _('View'), named_route=group_type + '_read', id=lad.name, class_='btn', icon='eye-open' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '_edit', _('Edit'), id=c.group_dict.name) }}
  {{ h.build_nav_icon(group_type + '_members', _('Members'), id=c.group_dict.name) }}
{% endblock %}

{% block secondary_content %}
  {% if lad %}
    {% snippet 'snippets/lad.html', lad=lad %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "lad/snippets/feeds.html" %}
{% endblock %}
