{% extends "page.html" %}

{% set typename=h.get_group_type_name(group_type) %}

{% block subtitle %}{{ _(typename['long']) }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _(typename['short']), named_route=group_type + '_index' %}</li>
{% endblock %}
{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access(group_type + '_create') %}
    {% link_for _('Add ' + typename['short']), named_route=group_type + '_new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _(typename['short']) }}{% endblock %}</h1>
  {% block lads_search_form %}
    {% snippet 'snippets/search_form.html', form_id='lad-search-form', type='lad', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search ' + typename['short'] + '...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
  {% endblock %}
  {% block lad_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "lad/snippets/customized_group_list.html", lads=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no ' + typename['short'] + ' for this site') }}.
        {% if h.check_access('lad_create') %}
          {% link_for _('How about creating one?'), named_route=group_type + '_new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "lad/snippets/helper.html", typename=typename %}
{% endblock %}
