{#
Displays a sidebard module with information for given lad

lad    - The lad dict.

Example:

  {% snippet "lad/snippets/info.html", org=org %}

#}

{% if lad and h.check_access('lad_update', {'id':lad.id }) %}
  <section class="module module-narrow package-info">
    <h2 class="module-heading"><i class="icon-sitemap"></i> {{ _("Edit " + typename['short']) }}</h2>
    <ul class="unstyled nav nav-simple">
      <li class="nav-item{% if action == 'edit' %} active{% endif %}">
        {% link_for _("Edit"), named_route=group_type + '_edit', id=lad.name %}
      </li>
    </ul>
  </section>
{% endif %}
